*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/colours.scss";
@import "base/fonts.scss";
@import "components/login";
@import "components/bienvenidos";
@import "components/header";
@import "components/productos";
@import "components/admin";
<<<<<<< HEAD
@import "base/queries.scss";
=======
@import "scss/mobile.scss";
@import "scss/tablet.scss";
>>>>>>> aa8cfda189ec1407b821e1633d1f1e5023eaab1b
