*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "base/colours.scss";
@import "base/fonts.scss";
@import "components/login";
@import "components/bienvenidos";
@import "components/header";
@import "components/productos";
@import "components/admin";