.admin-body {
    background-image: none !important;
    background-color: #fff !important;
}

.admin-header{
    background-color: $azul !important;
}

.admin-titulo{
    background-color: $beige-claro;
    font-family: "BentonMedium" !important;
    color: $azul;
    padding-top: 5px;
}

.admin-form{
    font-family: BentonBook !important;
    font-size: 18px !important;
    color: #3F545B !important;
    background-color: rgba(166, 175, 179, 0.507) !important;
    margin: 5px;
}

.admin-datos{
    font-family: "BentonBook" !important;
    font-size: 18px !important;
    color: $azul !important;
    background-color: #fff !important;
    margin: 5px;
}

.admin-productos {
    position: relative !important;
    left: 10px !important;
}

.admin-border{
    border: 1px transparent solid;
    border-top-left-radius: 30px;
    background-color: rgba(166, 175, 179, 0.507) !important; 
}

/* BOTON ENVIAR */

.admin-btn-enviar {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: $azul;
  }

  .admin-btn-enviar:active {
    top: 2px;
  }