.admin-body {
    background-image: url(../img/fondo-calculadora3.jpg);
    background-position-y: 950px !important;
}

.container-usuarios-productos {
    padding: 10px 20px 80px 20px !important;
}

.admin-header{
    background-color: $azul !important;
}

.admin-titulo {
    background-color: $beige-claro;
    font-family: "BentonMedium" !important;
    color: $azul;
    padding-top: 80px;
}

.admin-form {
    font-family: "BentonBook" !important;
    font-size: 18px !important;
    background-color: rgba(141, 147, 148, 0.849) !important;
    margin: 5px;
    border: solid 2px $beige-oscuro;
}

.admin-form::placeholder { 
    color: white; 
}

.desplegable-admin {
    display: flex;
    justify-content: center;
}

.titulo-info-admin {
    font-family: "BentonBlack";
}

.admin-datos{
    font-family: "BentonBook" !important;
    font-size: 18px !important;
    color: $azul !important;
    background-color: #fff !important;
    margin: 5px;
}

.admin-border {
    border: 1px transparent solid;
    border-top-left-radius: 30px;
    background-color: rgba(141, 147, 148, 0.849) !important; 
}

.productos-border {
    border: 1px transparent solid;
    background-color: rgba(141, 147, 148, 0.849) !important ;
}

.tracking-border {
    border: 1px transparent solid;
    border-bottom-right-radius: 30px;
    background-color: rgba(141, 147, 148, 0.849) !important ;
}

.boton-borrar {
    background-color: $azul;
    border-radius: 5px;
}

.container-botones {
    padding-top: 5px !important;
}

/* BOTON ENVIAR/GUARDAR */

.admin-btn-enviar {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "BentonBlack" !important;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    background: $azul;
}

.admin-btn-enviar:active {
    top: 2px;
}

.label-admin {
    background-color: white;
    border: solid 2px $azul;
    color: grey;
    font-size: 16px;
    padding: 5px;
    font-family: "BentonBook" !important;
}

.label-container {
    border-right: solid 1px rgb(187, 185, 185);
}

.info-admin {
    text-align: left;
    font-size: 14px;
    padding-top: 14px !important;
    color: white;
    font-family: "BentonBook" !important;
}

.info-fecha-nacimiento {
    text-align: left;
    font-size: 10px;
    padding-top: 20px !important;
    color: white;
    font-family: "BentonBook" !important;
}

.botones-usuarios-registrados {
    font-size: 10px !important;
}

.boton-editar {
    background-color: white !important;
}
/* admin productos tabla */

.tabla-admin {
    background-color: rgba(141, 147, 148, 0.849) !important;
    border-bottom: solid 3px #3F545B;
}

.titulo-tabla {
    font-family: "BentonBlack";
    font-size: 18px;
    color: grey !important;
    background-color: white !important;
    border: solid 2px $azul !important;
    text-align: center;
}

.table {
    color: white;
}

.table-bordered {
    border: white !important;
}

.referencia-admin {
    position: relative;
    left: 6px;
}

.fecha-admin {
    position: relative;
    right: 6px;
}

.color-admin::placeholder{
    color: white !important;
}