.bienvenido-usuario {
    background-color: $beige-claro;
    padding: 1px 10px 1px 10px !important;
}

.productos-titulo {
    font-family: "BentonBlack" !important;
    color: $azul;
    font-size: 30px !important;
    position: relative;
    left: 50px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.body-productos {
    background-color: #fff !important;
    background-image: none !important;
}