.bienvenido-usuario {
    background-color: $beige-claro !important;
    padding-top: 90px;
}

.usuario {
    display: block;
    margin-right: 305px;
    padding-bottom: 6px;
}

.productos-titulo {
    font-family: "BentonBlack" !important;
    color: $azul;
    font-size: 30px !important;
    position: relative;
    left: 50px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.body-productos {
    background-color: #fff !important;
    background-image: none !important;
}