.bienvenido-usuario {
    background-color: $beige-claro !important;
    padding-top: 84px;
}

.productos-titulo {
    font-family: "BentonBlack" !important;
    color: $azul;
    font-size: 35px !important;
    position: relative;
    left: 50px;
    padding-top: 80px;
    padding-bottom: 25px;
}

.body-productos {
    background-color: #fff !important;
    background-image: none !important;
}

/* Datos para realizar la compra */

.container-datos {
    border: solid 3px $azul !important;
}

.info-productos {
    font-size: 18px !important;
    font-family: "BentonBook";
}

/* ordenes de compra */
.seccion-datos {
    position: relative;
    bottom: 20px;
}

.seccion-productos {
    position: relative;
    bottom: 20px;
}

/* cards productos */

.card-datos {
    padding: 0px 5px;
    border: transparent;
}

.card-productos {
    background-color: rgb(230, 230, 224) !important;
}

.titulo-trayecto {
    font-size: 20px;
    padding: 40px 0px;
    position: relative;
    top: 5px;
}

.producto-card {
    text-align: left;
}

.container-botones {
    padding: 0px 38px;
}

.boton-azul-productos {
    background-color: $azul !important;
    border-radius: 8px !important;
    font-size: 15px;
}

.boton-beige-productos {
    background-color: $beige-claro !important;
    color: white !important;
    font-size: 15px;
    border-radius: 8px !important;
}

.img-qr {
    height: 125px;
}

.linea-blanco-right {
    border-right: 3px white solid;
}

